extends: default

rules:
  line-length: disable
  document-start: disable
  new-lines: disable
  comments: disable
  comments-indentation: disable
  truthy: disable
  indentation:
    indent-sequences: consistent
    check-multi-line-strings: false
